<!DOCTYPE html>
 
<html ng-app="PersonalInfoApp">
	
	
	<!--import angularJS tools, the MainController, and the Module-->
	<head>
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>
	<script src="app.js"></script>
    <script src="MainController.js"></script>
    
	 <!-- BOOTSTRAP -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	
	<!-- Color Scheme for Error Message -->
	<style> 
	input.ng-invalid.ng-dirty{border:3px solid red;}
	</style>
	</head>
	
	
	
	<body ng-controller="MainController">  
    <form name="form1">
        
        <!-- Name -->
        <div>
            <label>Name:</label>
            <input type="text" ng-model="name"></input>
            <h1>{{name}}</h1>
        </div> 
         
         <!-- Email -->   
    	<div>
        	<label>Email: </label>
        	<input type="email" name="email" ng-model="email" required>
        	<span ng-show="form1.email.$dirty && form1.email.$error.email">improper email format!</span>
        </div>
        
         <!-- Phone Number -->
        <div>
        	<label>Phone Number: </label>
        	<input type="text" name="phone" ng-pattern="/^\+?\d{3}[- ]?\d{3}[- ]?\d{4}$/" ng-model="phone" required>
        	<span ng-show="form1.phone.$dirty && form1.phone.$error.pattern">format required: (###-###-####)</span>
        </div>
        
         <!-- Check Box -->
         <div><br> 
         	<input type="checkbox" ng-model="accept" value="1" required>
         	<label> I certify that all info above is accurate & true</label> 
         </div> 
        
    	<br>
        <button class="btn btn-primary" ng-disabled="form1.$invalid" type="submit">Submit</button>
        
         
    </form>
    <!-- BOOTSTRAP -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script> 
	</body>
	</html>
